<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>pokedex.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>C6B126F21E5EA19800E7B449</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C6B127061E5EA19800E7B449</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C6B127111E5EA19800E7B449</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
